{
    "extends": [
      "react-app",
      "prettier"
    ],
    "parser": "@typescript-eslint/parser",
    "rules": {
      
    },
    "plugins": [
      "react",  
      "prettier",
      "@typescript-eslint"
    ]
  }

  