.createform {
    margin-top: 40px;
    display:flex;
    flex-direction: column;
  }

.tododescription {
    
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    min-width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
    min-height: 200px;
    resize:none;
}